<TABLE class="table table-striped" border="1" style="border: 1px solid #000000; border-collapse: collapse;" cellpadding="4" id="data">
<thead>
 <TR>
  <TH>Item</TH>
  <TH>Id</TH>
  <TH>Margin</TH>
  <TH>Profit %</TH>
 </TR>
</thead>
 <TR>
  <TD>Brown Mushroom</TD>
  <TD>BROWN_MUSHROOM</TD>
  <TD>5.3</TD>
  <TD>0.33</TD>
 </TR>
 <TR>
  <TD>Cocoa Beans</TD>
  <TD>INK_SACK:3</TD>
  <TD>1.3</TD>
  <TD>0.35</TD>
 </TR>
 <TR>
  <TD>Lapis Lazuli</TD>
  <TD>INK_SACK:4</TD>
  <TD>0.9</TD>
  <TD>0.2</TD>
 </TR>
 <TR>
  <TD>Spooky Shard</TD>
  <TD>SPOOKY_SHARD</TD>
  <TD>3,592.1</TD>
  <TD>0.44</TD>
 </TR>
 <TR>
  <TD>Tarantula Web</TD>
  <TD>TARANTULA_WEB</TD>
  <TD>0.6</TD>
  <TD>0.5</TD>
 </TR>
 <TR>
  <TD>Carrot</TD>
  <TD>CARROT_ITEM</TD>
  <TD>2.7</TD>
  <TD>0.54</TD>
 </TR>
 <TR>
  <TD>Enchanted Potato</TD>
  <TD>ENCHANTED_POTATO</TD>
  <TD>20.4</TD>
  <TD>0.11</TD>
 </TR>
 <TR>
  <TD>Experience Bottle</TD>
  <TD>EXP_BOTTLE</TD>
  <TD>4.2</TD>
  <TD>0.1</TD>
 </TR>
 <TR>
  <TD>Green Jerry Box</TD>
  <TD>JERRY_BOX_GREEN</TD>
  <TD>16,042.1</TD>
  <TD>0.18</TD>
 </TR>
 <TR>
  <TD>Enchanted Slimeball</TD>
  <TD>ENCHANTED_SLIME_BALL</TD>
  <TD>230.0</TD>
  <TD>0.17</TD>
 </TR>
 <TR>
  <TD>Enchanted Golden Carrot</TD>
  <TD>ENCHANTED_GOLDEN_CARROT</TD>
  <TD>1,751.8</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Enchanted Red Mushroom</TD>
  <TD>ENCHANTED_RED_MUSHROOM</TD>
  <TD>346.6</TD>
  <TD>0.1</TD>
 </TR>
 <TR>
  <TD>Enchanted Rabbit Hide</TD>
  <TD>ENCHANTED_RABBIT_HIDE</TD>
  <TD>2,992.3</TD>
  <TD>0.14</TD>
 </TR>
 <TR>
  <TD>Flawed Amethyst Gemstone</TD>
  <TD>FLAWED_AMETHYST_GEM</TD>
  <TD>85.1</TD>
  <TD>0.12</TD>
 </TR>
 <TR>
  <TD>Perfect Jade Gemstone</TD>
  <TD>PERFECT_JADE_GEM</TD>
  <TD>4,999,996.4</TD>
  <TD>0.16</TD>
 </TR>
 <TR>
  <TD>Enchanted Birch Wood</TD>
  <TD>ENCHANTED_BIRCH_LOG</TD>
  <TD>75.0</TD>
  <TD>0.16</TD>
 </TR>
 <TR>
  <TD>Enchanted Gunpowder</TD>
  <TD>ENCHANTED_GUNPOWDER</TD>
  <TD>122.9</TD>
  <TD>0.07</TD>
 </TR>
 <TR>
  <TD>Enchanted Melon</TD>
  <TD>ENCHANTED_MELON</TD>
  <TD>14.5</TD>
  <TD>0.09</TD>
 </TR>
 <TR>
  <TD>Enchanted Sugar</TD>
  <TD>ENCHANTED_SUGAR</TD>
  <TD>40.9</TD>
  <TD>0.12</TD>
 </TR>
 <TR>
  <TD>Cactus</TD>
  <TD>CACTUS</TD>
  <TD>0.4</TD>
  <TD>0.33</TD>
 </TR>
 <TR>
  <TD>Flawed Jasper Gemstone</TD>
  <TD>FLAWED_JASPER_GEM</TD>
  <TD>163.8</TD>
  <TD>0.17</TD>
 </TR>
 <TR>
  <TD>Enchanted Blaze Rod</TD>
  <TD>ENCHANTED_BLAZE_ROD</TD>
  <TD>23,931.1</TD>
  <TD>0.07</TD>
 </TR>
 <TR>
  <TD>Enchanted Cake</TD>
  <TD>ENCHANTED_CAKE</TD>
  <TD>6,716.9</TD>
  <TD>0.67</TD>
 </TR>
 <TR>
  <TD>Pumpkin</TD>
  <TD>PUMPKIN</TD>
  <TD>1.7</TD>
  <TD>0.29</TD>
 </TR>
 <TR>
  <TD>Enchanted Brown Mushroom</TD>
  <TD>ENCHANTED_BROWN_MUSHROOM</TD>
  <TD>141.6</TD>
  <TD>0.19</TD>
 </TR>
 <TR>
  <TD>Nurse Shark Tooth</TD>
  <TD>NURSE_SHARK_TOOTH</TD>
  <TD>162.0</TD>
  <TD>0.34</TD>
 </TR>
 <TR>
  <TD>Wheat</TD>
  <TD>WHEAT</TD>
  <TD>0.9</TD>
  <TD>0.29</TD>
 </TR>
 <TR>
  <TD>Flawed Amber Gemstone</TD>
  <TD>FLAWED_AMBER_GEM</TD>
  <TD>200.2</TD>
  <TD>0.21</TD>
 </TR>
 <TR>
  <TD>Enchanted Raw Salmon</TD>
  <TD>ENCHANTED_RAW_SALMON</TD>
  <TD>21.1</TD>
  <TD>0.01</TD>
 </TR>
 <TR>
  <TD>Enchanted Glistering Melon</TD>
  <TD>ENCHANTED_GLISTERING_MELON</TD>
  <TD>1,955.4</TD>
  <TD>0.25</TD>
 </TR>
 <TR>
  <TD>Prismarine Shard</TD>
  <TD>PRISMARINE_SHARD</TD>
  <TD>2.3</TD>
  <TD>0.43</TD>
 </TR>
 <TR>
  <TD>Enchanted Emerald</TD>
  <TD>ENCHANTED_EMERALD</TD>
  <TD>63.4</TD>
  <TD>0.06</TD>
 </TR>
 <TR>
  <TD>Protector Dragon Fragment</TD>
  <TD>PROTECTOR_FRAGMENT</TD>
  <TD>412.7</TD>
  <TD>0.15</TD>
 </TR>
 <TR>
  <TD>Enchanted Spider Eye</TD>
  <TD>ENCHANTED_SPIDER_EYE</TD>
  <TD>119.8</TD>
  <TD>0.14</TD>
 </TR>
 <TR>
  <TD>Red Mushroom</TD>
  <TD>RED_MUSHROOM</TD>
  <TD>5.6</TD>
  <TD>0.29</TD>
 </TR>
 <TR>
  <TD>Grand Experience Bottle</TD>
  <TD>GRAND_EXP_BOTTLE</TD>
  <TD>262.8</TD>
  <TD>0.06</TD>
 </TR>
 <TR>
  <TD>Enchanted Melon Block</TD>
  <TD>ENCHANTED_MELON_BLOCK</TD>
  <TD>572.9</TD>
  <TD>0.02</TD>
 </TR>
 <TR>
  <TD>Mutton</TD>
  <TD>MUTTON</TD>
  <TD>8.9</TD>
  <TD>0.36</TD>
 </TR>
 <TR>
  <TD>Power Crystal</TD>
  <TD>POWER_CRYSTAL</TD>
  <TD>15,088.2</TD>
  <TD>0.07</TD>
 </TR>
 <TR>
  <TD>Raw Soulflow</TD>
  <TD>RAW_SOULFLOW</TD>
  <TD>101.3</TD>
  <TD>0.25</TD>
 </TR>
 <TR>
  <TD>Diamond</TD>
  <TD>DIAMOND</TD>
  <TD>2.2</TD>
  <TD>0.23</TD>
 </TR>
 <TR>
  <TD>Shark Fin</TD>
  <TD>SHARK_FIN</TD>
  <TD>29.1</TD>
  <TD>0.38</TD>
 </TR>
 <TR>
  <TD>Wise Dragon Fragment</TD>
  <TD>WISE_FRAGMENT</TD>
  <TD>1,294.6</TD>
  <TD>0.09</TD>
 </TR>
 <TR>
  <TD>Cobblestone</TD>
  <TD>COBBLESTONE</TD>
  <TD>0.8</TD>
  <TD>0.13</TD>
 </TR>
 <TR>
  <TD>Refined Mithril</TD>
  <TD>REFINED_MITHRIL</TD>
  <TD>10,781.4</TD>
  <TD>0.03</TD>
 </TR>
 <TR>
  <TD>Spider Eye</TD>
  <TD>SPIDER_EYE</TD>
  <TD>0.7</TD>
  <TD>0.16</TD>
 </TR>
 <TR>
  <TD>Raw Fish</TD>
  <TD>RAW_FISH</TD>
  <TD>3.3</TD>
  <TD>0.18</TD>
 </TR>
 <TR>
  <TD>Perfect Ruby Gemstone</TD>
  <TD>PERFECT_RUBY_GEM</TD>
  <TD>4,612,632.6</TD>
  <TD>0.21</TD>
 </TR>
 <TR>
  <TD>Enchanted Pufferfish</TD>
  <TD>ENCHANTED_PUFFERFISH</TD>
  <TD>26.3</TD>
  <TD>0.01</TD>
 </TR>
 <TR>
  <TD>Yoggie</TD>
  <TD>YOGGIE</TD>
  <TD>199.5</TD>
  <TD>0.5</TD>
 </TR>
 <TR>
  <TD>Perfect Jasper Gemstone</TD>
  <TD>PERFECT_JASPER_GEM</TD>
  <TD>8,999,999.5</TD>
  <TD>0.2</TD>
 </TR>
 <TR>
  <TD>Potato</TD>
  <TD>POTATO_ITEM</TD>
  <TD>0.6</TD>
  <TD>0.3</TD>
 </TR>
 <TR>
  <TD>Enchanted Netherrack</TD>
  <TD>ENCHANTED_NETHERRACK</TD>
  <TD>23.2</TD>
  <TD>0.08</TD>
 </TR>
 <TR>
  <TD>Enchanted Brown Mushroom Block</TD>
  <TD>ENCHANTED_HUGE_MUSHROOM_1</TD>
  <TD>5,947.5</TD>
  <TD>0.57</TD>
 </TR>
 <TR>
  <TD>Enchanted Hard Stone</TD>
  <TD>ENCHANTED_HARD_STONE</TD>
  <TD>163.8</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Refined Diamond</TD>
  <TD>REFINED_DIAMOND</TD>
  <TD>23,698.1</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Enchanted Cobblestone</TD>
  <TD>ENCHANTED_COBBLESTONE</TD>
  <TD>6.9</TD>
  <TD>0.01</TD>
 </TR>
 <TR>
  <TD>Tightly-Tied Hay Bale</TD>
  <TD>TIGHTLY_TIED_HAY_BALE</TD>
  <TD>194,739.1</TD>
  <TD>0.34</TD>
 </TR>
 <TR>
  <TD>Enchanted Red Mushroom Block</TD>
  <TD>ENCHANTED_HUGE_MUSHROOM_2</TD>
  <TD>9,786.8</TD>
  <TD>0.31</TD>
 </TR>
 <TR>
  <TD>Raw Porkchop</TD>
  <TD>PORK</TD>
  <TD>4.8</TD>
  <TD>0.34</TD>
 </TR>
 <TR>
  <TD>Prismarine Crystals</TD>
  <TD>PRISMARINE_CRYSTALS</TD>
  <TD>3.3</TD>
  <TD>0.66</TD>
 </TR>
 <TR>
  <TD>Ice</TD>
  <TD>ICE</TD>
  <TD>2.3</TD>
  <TD>0.4</TD>
 </TR>
 <TR>
  <TD>Tiger Shark Tooth</TD>
  <TD>TIGER_SHARK_TOOTH</TD>
  <TD>2,831.9</TD>
  <TD>0.15</TD>
 </TR>
 <TR>
  <TD>Brown Mushroom Block</TD>
  <TD>HUGE_MUSHROOM_1</TD>
  <TD>2.9</TD>
  <TD>0.33</TD>
 </TR>
 <TR>
  <TD>Ice Bait</TD>
  <TD>ICE_BAIT</TD>
  <TD>0.6</TD>
  <TD>0.02</TD>
 </TR>
 <TR>
  <TD>Red Mushroom Block</TD>
  <TD>HUGE_MUSHROOM_2</TD>
  <TD>11.8</TD>
  <TD>0.31</TD>
 </TR>
 <TR>
  <TD>Dark Oak Wood</TD>
  <TD>LOG_2:1</TD>
  <TD>1.3</TD>
  <TD>0.5</TD>
 </TR>
 <TR>
  <TD>Enchanted Snow Block</TD>
  <TD>ENCHANTED_SNOW_BLOCK</TD>
  <TD>6.6</TD>
  <TD>0.01</TD>
 </TR>
 <TR>
  <TD>String</TD>
  <TD>STRING</TD>
  <TD>1.1</TD>
  <TD>0.14</TD>
 </TR>
 <TR>
  <TD>Golden Tooth</TD>
  <TD>GOLDEN_TOOTH</TD>
  <TD>4,462.1</TD>
  <TD>0.06</TD>
 </TR>
 <TR>
  <TD>Hyper Catalyst</TD>
  <TD>HYPER_CATALYST</TD>
  <TD>2,857.7</TD>
  <TD>0.03</TD>
 </TR>
 <TR>
  <TD>Rabbit's Foot</TD>
  <TD>RABBIT_FOOT</TD>
  <TD>0.1</TD>
  <TD>0.01</TD>
 </TR>
 <TR>
  <TD>Redstone</TD>
  <TD>REDSTONE</TD>
  <TD>1.0</TD>
  <TD>0.4</TD>
 </TR>
 <TR>
  <TD>Golden Jerry Box</TD>
  <TD>JERRY_BOX_GOLDEN</TD>
  <TD>178,143.4</TD>
  <TD>0.13</TD>
 </TR>
 <TR>
  <TD>Pumpkin Guts</TD>
  <TD>PUMPKIN_GUTS</TD>
  <TD>18,996.0</TD>
  <TD>0.32</TD>
 </TR>
 <TR>
  <TD>Enchanted Cactus Green</TD>
  <TD>ENCHANTED_CACTUS_GREEN</TD>
  <TD>91.3</TD>
  <TD>0.14</TD>
 </TR>
 <TR>
  <TD>Booster Cookie</TD>
  <TD>BOOSTER_COOKIE</TD>
  <TD>109,998.4</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Enchanted Lapis Block</TD>
  <TD>ENCHANTED_LAPIS_LAZULI_BLOCK</TD>
  <TD>1,179.2</TD>
  <TD>0.03</TD>
 </TR>
 <TR>
  <TD>Enchanted Cookie</TD>
  <TD>ENCHANTED_COOKIE</TD>
  <TD>6,293.1</TD>
  <TD>0.1</TD>
 </TR>
 <TR>
  <TD>Enchanted End Stone</TD>
  <TD>ENCHANTED_ENDSTONE</TD>
  <TD>87.5</TD>
  <TD>0.09</TD>
 </TR>
 <TR>
  <TD>Enchanted Sand</TD>
  <TD>ENCHANTED_SAND</TD>
  <TD>143.8</TD>
  <TD>0.27</TD>
 </TR>
 <TR>
  <TD>Colossal Experience Bottle</TD>
  <TD>COLOSSAL_EXP_BOTTLE</TD>
  <TD>35,386.1</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Enchanted String</TD>
  <TD>ENCHANTED_STRING</TD>
  <TD>14.7</TD>
  <TD>0.01</TD>
 </TR>
 <TR>
  <TD>Strong Dragon Fragment</TD>
  <TD>STRONG_FRAGMENT</TD>
  <TD>1,647.9</TD>
  <TD>0.11</TD>
 </TR>
 <TR>
  <TD>Slimeball</TD>
  <TD>SLIME_BALL</TD>
  <TD>2.2</TD>
  <TD>0.27</TD>
 </TR>
 <TR>
  <TD>Snowball</TD>
  <TD>SNOW_BALL</TD>
  <TD>0.5</TD>
  <TD>0.83</TD>
 </TR>
 <TR>
  <TD>Holy Dragon Fragment</TD>
  <TD>HOLY_FRAGMENT</TD>
  <TD>90.7</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Enchanted Acacia Wood</TD>
  <TD>ENCHANTED_ACACIA_LOG</TD>
  <TD>70.2</TD>
  <TD>0.14</TD>
 </TR>
 <TR>
  <TD>Enchanted Egg</TD>
  <TD>ENCHANTED_EGG</TD>
  <TD>117.1</TD>
  <TD>0.08</TD>
 </TR>
 <TR>
  <TD>Sand</TD>
  <TD>SAND</TD>
  <TD>2.3</TD>
  <TD>0.49</TD>
 </TR>
 <TR>
  <TD>Soul Fragment</TD>
  <TD>SOUL_FRAGMENT</TD>
  <TD>92,574.1</TD>
  <TD>0.12</TD>
 </TR>
 <TR>
  <TD>Fine Jade Gemstone</TD>
  <TD>FINE_JADE_GEM</TD>
  <TD>10,796.0</TD>
  <TD>0.2</TD>
 </TR>
 <TR>
  <TD>Flawed Ruby Gemstone</TD>
  <TD>FLAWED_RUBY_GEM</TD>
  <TD>27.0</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Raw Chicken</TD>
  <TD>RAW_CHICKEN</TD>
  <TD>10.0</TD>
  <TD>0.42</TD>
 </TR>
 <TR>
  <TD>Ancient Claw</TD>
  <TD>ANCIENT_CLAW</TD>
  <TD>27.8</TD>
  <TD>0.13</TD>
 </TR>
 <TR>
  <TD>Plasma Bucket</TD>
  <TD>PLASMA_BUCKET</TD>
  <TD>302,065.7</TD>
  <TD>0.06</TD>
 </TR>
 <TR>
  <TD>Flawless Jasper Gemstone</TD>
  <TD>FLAWLESS_JASPER_GEM</TD>
  <TD>2,299,985.6</TD>
  <TD>0.31</TD>
 </TR>
 <TR>
  <TD>Enchanted Lapis Lazuli</TD>
  <TD>ENCHANTED_LAPIS_LAZULI</TD>
  <TD>5.9</TD>
  <TD>0.01</TD>
 </TR>
 <TR>
  <TD>Enchanted Ghast Tear</TD>
  <TD>ENCHANTED_GHAST_TEAR</TD>
  <TD>59.0</TD>
  <TD>0.24</TD>
 </TR>
 <TR>
  <TD>Enchanted Cocoa Bean</TD>
  <TD>ENCHANTED_COCOA</TD>
  <TD>22.7</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Carrot Bait</TD>
  <TD>CARROT_BAIT</TD>
  <TD>19.4</TD>
  <TD>0.35</TD>
 </TR>
 <TR>
  <TD>Fine Topaz Gemstone</TD>
  <TD>FINE_TOPAZ_GEM</TD>
  <TD>2,465.5</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Fine Ruby Gemstone</TD>
  <TD>FINE_RUBY_GEM</TD>
  <TD>4,257.5</TD>
  <TD>0.08</TD>
 </TR>
 <TR>
  <TD>Seeds</TD>
  <TD>SEEDS</TD>
  <TD>0.2</TD>
  <TD>0.29</TD>
 </TR>
 <TR>
  <TD>Enchanted Leather</TD>
  <TD>ENCHANTED_LEATHER</TD>
  <TD>850.6</TD>
  <TD>0.1</TD>
 </TR>
 <TR>
  <TD>Enchanted Shark Fin</TD>
  <TD>ENCHANTED_SHARK_FIN</TD>
  <TD>2,951.4</TD>
  <TD>0.23</TD>
 </TR>
 <TR>
  <TD>Enchanted Sponge</TD>
  <TD>ENCHANTED_SPONGE</TD>
  <TD>189.1</TD>
  <TD>0.09</TD>
 </TR>
 <TR>
  <TD>Perfect Amber Gemstone</TD>
  <TD>PERFECT_AMBER_GEM</TD>
  <TD>11,899,999.5</TD>
  <TD>0.32</TD>
 </TR>
 <TR>
  <TD>Hay Bale</TD>
  <TD>HAY_BLOCK</TD>
  <TD>7.0</TD>
  <TD>0.23</TD>
 </TR>
 <TR>
  <TD>Flint</TD>
  <TD>FLINT</TD>
  <TD>5.4</TD>
  <TD>0.22</TD>
 </TR>
 <TR>
  <TD>Ink Sack</TD>
  <TD>INK_SACK</TD>
  <TD>77.5</TD>
  <TD>0.1</TD>
 </TR>
 <TR>
  <TD>Enchanted Spruce Wood</TD>
  <TD>ENCHANTED_SPRUCE_LOG</TD>
  <TD>242.8</TD>
  <TD>0.18</TD>
 </TR>
 <TR>
  <TD>Enchanted Rotten Flesh</TD>
  <TD>ENCHANTED_ROTTEN_FLESH</TD>
  <TD>136.0</TD>
  <TD>0.09</TD>
 </TR>
 <TR>
  <TD>Wolf Tooth</TD>
  <TD>WOLF_TOOTH</TD>
  <TD>15.3</TD>
  <TD>0.18</TD>
 </TR>
 <TR>
  <TD>Enchanted Grilled Pork</TD>
  <TD>ENCHANTED_GRILLED_PORK</TD>
  <TD>9,160.4</TD>
  <TD>0.06</TD>
 </TR>
 <TR>
  <TD>Enchanted Nether Wart</TD>
  <TD>ENCHANTED_NETHER_STALK</TD>
  <TD>13.4</TD>
  <TD>0.03</TD>
 </TR>
 <TR>
  <TD>Enchanted Redstone Block</TD>
  <TD>ENCHANTED_REDSTONE_BLOCK</TD>
  <TD>3,127.4</TD>
  <TD>0.06</TD>
 </TR>
 <TR>
  <TD>Enchanted Ancient Claw</TD>
  <TD>ENCHANTED_ANCIENT_CLAW</TD>
  <TD>748.4</TD>
  <TD>0.2</TD>
 </TR>
 <TR>
  <TD>Enchanted Quartz Block</TD>
  <TD>ENCHANTED_QUARTZ_BLOCK</TD>
  <TD>12,435.9</TD>
  <TD>0.02</TD>
 </TR>
 <TR>
  <TD>Green Candy</TD>
  <TD>GREEN_CANDY</TD>
  <TD>70.3</TD>
  <TD>0.1</TD>
 </TR>
 <TR>
  <TD>Enchanted Redstone</TD>
  <TD>ENCHANTED_REDSTONE</TD>
  <TD>46.8</TD>
  <TD>0.14</TD>
 </TR>
 <TR>
  <TD>Enchanted Redstone Lamp</TD>
  <TD>ENCHANTED_REDSTONE_LAMP</TD>
  <TD>12,594.7</TD>
  <TD>0.16</TD>
 </TR>
 <TR>
  <TD>Treasurite</TD>
  <TD>TREASURITE</TD>
  <TD>2,452.4</TD>
  <TD>0.14</TD>
 </TR>
 <TR>
  <TD>Dwarven Super Compactor</TD>
  <TD>DWARVEN_COMPACTOR</TD>
  <TD>140,203.2</TD>
  <TD>0.18</TD>
 </TR>
 <TR>
  <TD>Great White Shark Tooth</TD>
  <TD>GREAT_WHITE_SHARK_TOOTH</TD>
  <TD>49,996.3</TD>
  <TD>0.06</TD>
 </TR>
 <TR>
  <TD>Gravel</TD>
  <TD>GRAVEL</TD>
  <TD>5.1</TD>
  <TD>0.26</TD>
 </TR>
 <TR>
  <TD>Melon</TD>
  <TD>MELON</TD>
  <TD>9</TD>
  <TD>0.56</TD>
 </TR>
 <TR>
  <TD>Enchanted Lava Bucket</TD>
  <TD>ENCHANTED_LAVA_BUCKET</TD>
  <TD>10,723.0</TD>
  <TD>0.03</TD>
 </TR>
 <TR>
  <TD>Enchanted Packed Ice</TD>
  <TD>ENCHANTED_PACKED_ICE</TD>
  <TD>3,418.2</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Pufferfish</TD>
  <TD>RAW_FISH:3</TD>
  <TD>3.5</TD>
  <TD>0.2</TD>
 </TR>
 <TR>
  <TD>Enchanted Prismarine Shard</TD>
  <TD>ENCHANTED_PRISMARINE_SHARD</TD>
  <TD>9.3</TD>
  <TD>0.02</TD>
 </TR>
 <TR>
  <TD>Recombobulator 3000</TD>
  <TD>RECOMBOBULATOR_3000</TD>
  <TD>101,924.5</TD>
  <TD>0.02</TD>
 </TR>
 <TR>
  <TD>Enchanted Iron Block</TD>
  <TD>ENCHANTED_IRON_BLOCK</TD>
  <TD>3,892.9</TD>
  <TD>0.02</TD>
 </TR>
 <TR>
  <TD>Enchanted Carrot on a Stick</TD>
  <TD>ENCHANTED_CARROT_STICK</TD>
  <TD>7,457.9</TD>
  <TD>0.5</TD>
 </TR>
 <TR>
  <TD>Bone</TD>
  <TD>BONE</TD>
  <TD>0.4</TD>
  <TD>0.21</TD>
 </TR>
 <TR>
  <TD>Clownfish</TD>
  <TD>RAW_FISH:2</TD>
  <TD>2.0</TD>
  <TD>0.1</TD>
 </TR>
 <TR>
  <TD>Raw Salmon</TD>
  <TD>RAW_FISH:1</TD>
  <TD>3.4</TD>
  <TD>0.28</TD>
 </TR>
 <TR>
  <TD>Revenant Flesh</TD>
  <TD>REVENANT_FLESH</TD>
  <TD>0.7</TD>
  <TD>0.64</TD>
 </TR>
 <TR>
  <TD>Enchanted Glowstone</TD>
  <TD>ENCHANTED_GLOWSTONE</TD>
  <TD>4,491.8</TD>
  <TD>0.07</TD>
 </TR>
 <TR>
  <TD>Enchanted Pork</TD>
  <TD>ENCHANTED_PORK</TD>
  <TD>168.8</TD>
  <TD>0.09</TD>
 </TR>
 <TR>
  <TD>Rough Jasper Gemstone</TD>
  <TD>ROUGH_JASPER_GEM</TD>
  <TD>2.6</TD>
  <TD>0.21</TD>
 </TR>
 <TR>
  <TD>Feather</TD>
  <TD>FEATHER</TD>
  <TD>0.6</TD>
  <TD>0.19</TD>
 </TR>
 <TR>
  <TD>Netherrack</TD>
  <TD>NETHERRACK</TD>
  <TD>19.8</TD>
  <TD>0.81</TD>
 </TR>
 <TR>
  <TD>Whale Bait</TD>
  <TD>WHALE_BAIT</TD>
  <TD>120.5</TD>
  <TD>0.07</TD>
 </TR>
 <TR>
  <TD>Sponge</TD>
  <TD>SPONGE</TD>
  <TD>14.2</TD>
  <TD>0.23</TD>
 </TR>
 <TR>
  <TD>Blaze Rod</TD>
  <TD>BLAZE_ROD</TD>
  <TD>6.3</TD>
  <TD>0.16</TD>
 </TR>
 <TR>
  <TD>Enchanted Dark Oak Wood</TD>
  <TD>ENCHANTED_DARK_OAK_LOG</TD>
  <TD>122.5</TD>
  <TD>0.24</TD>
 </TR>
 <TR>
  <TD>Young Dragon Fragment</TD>
  <TD>YOUNG_FRAGMENT</TD>
  <TD>318.4</TD>
  <TD>0.11</TD>
 </TR>
 <TR>
  <TD>Flawless Topaz Gemstone</TD>
  <TD>FLAWLESS_TOPAZ_GEM</TD>
  <TD>299,997.2</TD>
  <TD>0.06</TD>
 </TR>
 <TR>
  <TD>Enchanted Clownfish</TD>
  <TD>ENCHANTED_CLOWNFISH</TD>
  <TD>79.0</TD>
  <TD>0.02</TD>
 </TR>
 <TR>
  <TD>Refined Mineral</TD>
  <TD>REFINED_MINERAL</TD>
  <TD>6,883.1</TD>
  <TD>0.1</TD>
 </TR>
 <TR>
  <TD>Enchanted Gold</TD>
  <TD>ENCHANTED_GOLD</TD>
  <TD>47.7</TD>
  <TD>0.02</TD>
 </TR>
 <TR>
  <TD>Enchanted Raw Chicken</TD>
  <TD>ENCHANTED_RAW_CHICKEN</TD>
  <TD>30.3</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Enchanted Lily Pad</TD>
  <TD>ENCHANTED_WATER_LILY</TD>
  <TD>529.4</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Rough Amethyst Gemstone</TD>
  <TD>ROUGH_AMETHYST_GEM</TD>
  <TD>1.6</TD>
  <TD>0.19</TD>
 </TR>
 <TR>
  <TD>Rough Ruby Gemstone</TD>
  <TD>ROUGH_RUBY_GEM</TD>
  <TD>1.3</TD>
  <TD>0.16</TD>
 </TR>
 <TR>
  <TD>Null Atom</TD>
  <TD>NULL_ATOM</TD>
  <TD>6,998.9</TD>
  <TD>0.17</TD>
 </TR>
 <TR>
  <TD>Flawless Ruby Gemstone</TD>
  <TD>FLAWLESS_RUBY_GEM</TD>
  <TD>99,998.2</TD>
  <TD>0.02</TD>
 </TR>
 <TR>
  <TD>Spruce Wood</TD>
  <TD>LOG:1</TD>
  <TD>2.8</TD>
  <TD>0.37</TD>
 </TR>
 <TR>
  <TD>Titanium</TD>
  <TD>TITANIUM_ORE</TD>
  <TD>3.9</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Catalyst</TD>
  <TD>CATALYST</TD>
  <TD>1,794.2</TD>
  <TD>0.02</TD>
 </TR>
 <TR>
  <TD>Blue Shark Tooth</TD>
  <TD>BLUE_SHARK_TOOTH</TD>
  <TD>422.8</TD>
  <TD>0.32</TD>
 </TR>
 <TR>
  <TD>Jungle Wood</TD>
  <TD>LOG:3</TD>
  <TD>2.2</TD>
  <TD>0.3</TD>
 </TR>
 <TR>
  <TD>Birch Wood</TD>
  <TD>LOG:2</TD>
  <TD>1.3</TD>
  <TD>0.42</TD>
 </TR>
 <TR>
  <TD>Blessed Bait</TD>
  <TD>BLESSED_BAIT</TD>
  <TD>58.1</TD>
  <TD>0.22</TD>
 </TR>
 <TR>
  <TD>Enchanted Glowstone Dust</TD>
  <TD>ENCHANTED_GLOWSTONE_DUST</TD>
  <TD>68.2</TD>
  <TD>0.07</TD>
 </TR>
 <TR>
  <TD>Enchanted Ink Sack</TD>
  <TD>ENCHANTED_INK_SACK</TD>
  <TD>2,497.3</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Enchanted Cactus</TD>
  <TD>ENCHANTED_CACTUS</TD>
  <TD>6,310.9</TD>
  <TD>0.15</TD>
 </TR>
 <TR>
  <TD>Enchanted Sugar Cane</TD>
  <TD>ENCHANTED_SUGAR_CANE</TD>
  <TD>1,982.9</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Flawless Sapphire Gemstone</TD>
  <TD>FLAWLESS_SAPPHIRE_GEM</TD>
  <TD>1,689,050.8</TD>
  <TD>0.28</TD>
 </TR>
 <TR>
  <TD>Enchanted Cooked Salmon</TD>
  <TD>ENCHANTED_COOKED_SALMON</TD>
  <TD>31,115.6</TD>
  <TD>0.11</TD>
 </TR>
 <TR>
  <TD>Enchanted Seeds</TD>
  <TD>ENCHANTED_SEEDS</TD>
  <TD>3.4</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Concentrated Stone</TD>
  <TD>CONCENTRATED_STONE</TD>
  <TD>257,835.7</TD>
  <TD>0.12</TD>
 </TR>
 <TR>
  <TD>Oak Wood</TD>
  <TD>LOG</TD>
  <TD>2.9</TD>
  <TD>0.35</TD>
 </TR>
 <TR>
  <TD>Jacob's Ticket</TD>
  <TD>JACOBS_TICKET</TD>
  <TD>289.5</TD>
  <TD>0.02</TD>
 </TR>
 <TR>
  <TD>Enchanted Bone Block</TD>
  <TD>ENCHANTED_BONE_BLOCK</TD>
  <TD>7,194.8</TD>
  <TD>0.13</TD>
 </TR>
 <TR>
  <TD>Ghast Tear</TD>
  <TD>GHAST_TEAR</TD>
  <TD>12.1</TD>
  <TD>0.27</TD>
 </TR>
 <TR>
  <TD>Absolute Ender Pearl</TD>
  <TD>ABSOLUTE_ENDER_PEARL</TD>
  <TD>1,713.4</TD>
  <TD>0.13</TD>
 </TR>
 <TR>
  <TD>Enchanted Ender Pearl</TD>
  <TD>ENCHANTED_ENDER_PEARL</TD>
  <TD>12.4</TD>
  <TD>0.08</TD>
 </TR>
 <TR>
  <TD>Unstable Dragon Fragment</TD>
  <TD>UNSTABLE_FRAGMENT</TD>
  <TD>280.2</TD>
  <TD>0.1</TD>
 </TR>
 <TR>
  <TD>Purple Candy</TD>
  <TD>PURPLE_CANDY</TD>
  <TD>295.5</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Enchanted Fermented Spider Eye</TD>
  <TD>ENCHANTED_FERMENTED_SPIDER_EYE</TD>
  <TD>5,347.3</TD>
  <TD>0.08</TD>
 </TR>
 <TR>
  <TD>Polished Pumpkin</TD>
  <TD>POLISHED_PUMPKIN</TD>
  <TD>19,796.3</TD>
  <TD>0.14</TD>
 </TR>
 <TR>
  <TD>Spiked Bait</TD>
  <TD>SPIKED_BAIT</TD>
  <TD>30.7</TD>
  <TD>0.43</TD>
 </TR>
 <TR>
  <TD>Enchanted Gold Block</TD>
  <TD>ENCHANTED_GOLD_BLOCK</TD>
  <TD>6,036.6</TD>
  <TD>0.03</TD>
 </TR>
 <TR>
  <TD>Rough Jade Gemstone</TD>
  <TD>ROUGH_JADE_GEM</TD>
  <TD>1.1</TD>
  <TD>0.14</TD>
 </TR>
 <TR>
  <TD>Enchanted Jungle Wood</TD>
  <TD>ENCHANTED_JUNGLE_LOG</TD>
  <TD>237.5</TD>
  <TD>0.16</TD>
 </TR>
 <TR>
  <TD>Enchanted Flint</TD>
  <TD>ENCHANTED_FLINT</TD>
  <TD>162.8</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Iron Ingot</TD>
  <TD>IRON_INGOT</TD>
  <TD>0.6</TD>
  <TD>0.06</TD>
 </TR>
 <TR>
  <TD>Enchanted Emerald Block</TD>
  <TD>ENCHANTED_EMERALD_BLOCK</TD>
  <TD>8,608.4</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Null Ovoid</TD>
  <TD>NULL_OVOID</TD>
  <TD>10,553.7</TD>
  <TD>0.03</TD>
 </TR>
 <TR>
  <TD>Enchanted Clay</TD>
  <TD>ENCHANTED_CLAY_BALL</TD>
  <TD>0.2</TD>
  <TD>0.0</TD>
 </TR>
 <TR>
  <TD>Rough Sapphire Gemstone</TD>
  <TD>ROUGH_SAPPHIRE_GEM</TD>
  <TD>1.4</TD>
  <TD>0.17</TD>
 </TR>
 <TR>
  <TD>Glowstone Dust</TD>
  <TD>GLOWSTONE_DUST</TD>
  <TD>3.8</TD>
  <TD>0.2</TD>
 </TR>
 <TR>
  <TD>Gold Ingot</TD>
  <TD>GOLD_INGOT</TD>
  <TD>2.8</TD>
  <TD>0.22</TD>
 </TR>
 <TR>
  <TD>Revenant Viscera</TD>
  <TD>REVENANT_VISCERA</TD>
  <TD>2,698.6</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Perfect Amethyst Gemstone</TD>
  <TD>PERFECT_AMETHYST_GEM</TD>
  <TD>1,710,000</TD>
  <TD>0.11</TD>
 </TR>
 <TR>
  <TD>Tarantula Silk</TD>
  <TD>TARANTULA_SILK</TD>
  <TD>66,080.0</TD>
  <TD>0.37</TD>
 </TR>
 <TR>
  <TD>Titanic Experience Bottle</TD>
  <TD>TITANIC_EXP_BOTTLE</TD>
  <TD>10,505.7</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Enchanted Mutton</TD>
  <TD>ENCHANTED_MUTTON</TD>
  <TD>236.9</TD>
  <TD>0.08</TD>
 </TR>
 <TR>
  <TD>Null Sphere</TD>
  <TD>NULL_SPHERE</TD>
  <TD>182.2</TD>
  <TD>0.12</TD>
 </TR>
 <TR>
  <TD>Super Compactor 3000</TD>
  <TD>SUPER_COMPACTOR_3000</TD>
  <TD>26,253.0</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Super Enchanted Egg</TD>
  <TD>SUPER_EGG</TD>
  <TD>8,854.3</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Enchanted Iron</TD>
  <TD>ENCHANTED_IRON</TD>
  <TD>62.8</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Stock of Stonks</TD>
  <TD>STOCK_OF_STONKS</TD>
  <TD>7,197</TD>
  <TD>0.03</TD>
 </TR>
 <TR>
  <TD>Mithril</TD>
  <TD>MITHRIL_ORE</TD>
  <TD>1.5</TD>
  <TD>0.14</TD>
 </TR>
 <TR>
  <TD>Enchanted Hay Bale</TD>
  <TD>ENCHANTED_HAY_BLOCK</TD>
  <TD>488.4</TD>
  <TD>0.13</TD>
 </TR>
 <TR>
  <TD>Enchanted Paper</TD>
  <TD>ENCHANTED_PAPER</TD>
  <TD>90.9</TD>
  <TD>0.23</TD>
 </TR>
 <TR>
  <TD>Enchanted Bone</TD>
  <TD>ENCHANTED_BONE</TD>
  <TD>48.5</TD>
  <TD>0.13</TD>
 </TR>
 <TR>
  <TD>Enchanted Titanium</TD>
  <TD>ENCHANTED_TITANIUM</TD>
  <TD>610.3</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Enchanted Diamond Block</TD>
  <TD>ENCHANTED_DIAMOND_BLOCK</TD>
  <TD>1,949.5</TD>
  <TD>0.01</TD>
 </TR>
 <TR>
  <TD>Spooky Bait</TD>
  <TD>SPOOKY_BAIT</TD>
  <TD>24.3</TD>
  <TD>0.39</TD>
 </TR>
 <TR>
  <TD>Superior Dragon Fragment</TD>
  <TD>SUPERIOR_FRAGMENT</TD>
  <TD>5,352.4</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Magma Bucket</TD>
  <TD>MAGMA_BUCKET</TD>
  <TD>109,998.3</TD>
  <TD>0.06</TD>
 </TR>
 <TR>
  <TD>Emerald</TD>
  <TD>EMERALD</TD>
  <TD>3.0</TD>
  <TD>0.35</TD>
 </TR>
 <TR>
  <TD>Enchanted Rabbit Foot</TD>
  <TD>ENCHANTED_RABBIT_FOOT</TD>
  <TD>506.1</TD>
  <TD>0.18</TD>
 </TR>
 <TR>
  <TD>Light Bait</TD>
  <TD>LIGHT_BAIT</TD>
  <TD>58.7</TD>
  <TD>0.51</TD>
 </TR>
 <TR>
  <TD>Enchanted Ice</TD>
  <TD>ENCHANTED_ICE</TD>
  <TD>95.8</TD>
  <TD>0.14</TD>
 </TR>
 <TR>
  <TD>Hot Potato Book</TD>
  <TD>HOT_POTATO_BOOK</TD>
  <TD>3,678.1</TD>
  <TD>0.11</TD>
 </TR>
 <TR>
  <TD>Clay</TD>
  <TD>CLAY_BALL</TD>
  <TD>0.7</TD>
  <TD>0.21</TD>
 </TR>
 <TR>
  <TD>Old Dragon Fragment</TD>
  <TD>OLD_FRAGMENT</TD>
  <TD>249.3</TD>
  <TD>0.09</TD>
 </TR>
 <TR>
  <TD>Green Gift</TD>
  <TD>GREEN_GIFT</TD>
  <TD>798.1</TD>
  <TD>0.08</TD>
 </TR>
 <TR>
  <TD>Flawless Amethyst Gemstone</TD>
  <TD>FLAWLESS_AMETHYST_GEM</TD>
  <TD>1,882,051.4</TD>
  <TD>0.65</TD>
 </TR>
 <TR>
  <TD>Rough Topaz Gemstone</TD>
  <TD>ROUGH_TOPAZ_GEM</TD>
  <TD>2.7</TD>
  <TD>0.24</TD>
 </TR>
 <TR>
  <TD>Packed Ice</TD>
  <TD>PACKED_ICE</TD>
  <TD>7.9</TD>
  <TD>0.23</TD>
 </TR>
 <TR>
  <TD>Rough Amber Gemstone</TD>
  <TD>ROUGH_AMBER_GEM</TD>
  <TD>1.7</TD>
  <TD>0.19</TD>
 </TR>
 <TR>
  <TD>Lily Pad</TD>
  <TD>WATER_LILY</TD>
  <TD>12.3</TD>
  <TD>0.17</TD>
 </TR>
 <TR>
  <TD>Hamster Wheel</TD>
  <TD>HAMSTER_WHEEL</TD>
  <TD>929.1</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Acacia Wood</TD>
  <TD>LOG_2</TD>
  <TD>2.1</TD>
  <TD>0.55</TD>
 </TR>
 <TR>
  <TD>Enchanted Obsidian</TD>
  <TD>ENCHANTED_OBSIDIAN</TD>
  <TD>7.3</TD>
  <TD>0.0</TD>
 </TR>
 <TR>
  <TD>Fine Amber Gemstone</TD>
  <TD>FINE_AMBER_GEM</TD>
  <TD>10,550.0</TD>
  <TD>0.15</TD>
 </TR>
 <TR>
  <TD>Enchanted Coal</TD>
  <TD>ENCHANTED_COAL</TD>
  <TD>84.4</TD>
  <TD>0.09</TD>
 </TR>
 <TR>
  <TD>Enchanted Quartz</TD>
  <TD>ENCHANTED_QUARTZ</TD>
  <TD>44.6</TD>
  <TD>0.01</TD>
 </TR>
 <TR>
  <TD>Coal</TD>
  <TD>COAL</TD>
  <TD>0.3</TD>
  <TD>0.06</TD>
 </TR>
 <TR>
  <TD>Ender Pearl</TD>
  <TD>ENDER_PEARL</TD>
  <TD>0.3</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Enchanted Block of Coal</TD>
  <TD>ENCHANTED_COAL_BLOCK</TD>
  <TD>4,861.5</TD>
  <TD>0.03</TD>
 </TR>
 <TR>
  <TD>Werewolf Skin</TD>
  <TD>WEREWOLF_SKIN</TD>
  <TD>3,926.8</TD>
  <TD>0.19</TD>
 </TR>
 <TR>
  <TD>Perfect Topaz Gemstone</TD>
  <TD>PERFECT_TOPAZ_GEM</TD>
  <TD>816,524.5</TD>
  <TD>0.03</TD>
 </TR>
 <TR>
  <TD>Enchanted Prismarine Crystals</TD>
  <TD>ENCHANTED_PRISMARINE_CRYSTALS</TD>
  <TD>10.4</TD>
  <TD>0.03</TD>
 </TR>
 <TR>
  <TD>Daedalus Stick</TD>
  <TD>DAEDALUS_STICK</TD>
  <TD>597,394.2</TD>
  <TD>0.07</TD>
 </TR>
 <TR>
  <TD>Enchanted Wet Sponge</TD>
  <TD>ENCHANTED_WET_SPONGE</TD>
  <TD>10,954.0</TD>
  <TD>0.12</TD>
 </TR>
 <TR>
  <TD>Flawed Jade Gemstone</TD>
  <TD>FLAWED_JADE_GEM</TD>
  <TD>30.1</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Enchanted Raw Fish</TD>
  <TD>ENCHANTED_RAW_FISH</TD>
  <TD>281.2</TD>
  <TD>0.1</TD>
 </TR>
 <TR>
  <TD>End Stone</TD>
  <TD>ENDER_STONE</TD>
  <TD>1.7</TD>
  <TD>0.3</TD>
 </TR>
 <TR>
  <TD>Foul Flesh</TD>
  <TD>FOUL_FLESH</TD>
  <TD>448.7</TD>
  <TD>0.02</TD>
 </TR>
 <TR>
  <TD>Nether Quartz</TD>
  <TD>QUARTZ</TD>
  <TD>4.0</TD>
  <TD>0.18</TD>
 </TR>
 <TR>
  <TD>Purple Jerry Box</TD>
  <TD>JERRY_BOX_PURPLE</TD>
  <TD>58,671.3</TD>
  <TD>0.22</TD>
 </TR>
 <TR>
  <TD>Raw Beef</TD>
  <TD>RAW_BEEF</TD>
  <TD>2.2</TD>
  <TD>0.46</TD>
 </TR>
 <TR>
  <TD>Enchanted Eye of Ender</TD>
  <TD>ENCHANTED_EYE_OF_ENDER</TD>
  <TD>340.0</TD>
  <TD>0.07</TD>
 </TR>
 <TR>
  <TD>Sludge Juice</TD>
  <TD>SLUDGE_JUICE</TD>
  <TD>165.5</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Ectoplasm</TD>
  <TD>ECTOPLASM</TD>
  <TD>10,080.3</TD>
  <TD>0.13</TD>
 </TR>
 <TR>
  <TD>Sugar Cane</TD>
  <TD>SUGAR_CANE</TD>
  <TD>0.6</TD>
  <TD>0.25</TD>
 </TR>
 <TR>
  <TD>Magma Cream</TD>
  <TD>MAGMA_CREAM</TD>
  <TD>4.0</TD>
  <TD>0.4</TD>
 </TR>
 <TR>
  <TD>Shark Bait</TD>
  <TD>SHARK_BAIT</TD>
  <TD>2.5</TD>
  <TD>0.36</TD>
 </TR>
 <TR>
  <TD>Red Gift</TD>
  <TD>RED_GIFT</TD>
  <TD>2,897.9</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Enchanted Mithril</TD>
  <TD>ENCHANTED_MITHRIL</TD>
  <TD>79.9</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Blue Jerry Box</TD>
  <TD>JERRY_BOX_BLUE</TD>
  <TD>42,992.0</TD>
  <TD>0.36</TD>
 </TR>
 <TR>
  <TD>Enchanted Raw Beef</TD>
  <TD>ENCHANTED_RAW_BEEF</TD>
  <TD>61.3</TD>
  <TD>0.09</TD>
 </TR>
 <TR>
  <TD>Enchanted Slime Block</TD>
  <TD>ENCHANTED_SLIME_BLOCK</TD>
  <TD>11,025.2</TD>
  <TD>0.08</TD>
 </TR>
 <TR>
  <TD>Enchanted Feather</TD>
  <TD>ENCHANTED_FEATHER</TD>
  <TD>19.2</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Enchanted Oak Wood</TD>
  <TD>ENCHANTED_OAK_LOG</TD>
  <TD>81.6</TD>
  <TD>0.06</TD>
 </TR>
 <TR>
  <TD>Rabbit Hide</TD>
  <TD>RABBIT_HIDE</TD>
  <TD>7.3</TD>
  <TD>0.21</TD>
 </TR>
 <TR>
  <TD>White Gift</TD>
  <TD>WHITE_GIFT</TD>
  <TD>358.3</TD>
  <TD>0.06</TD>
 </TR>
 <TR>
  <TD>Raw Rabbit</TD>
  <TD>RABBIT</TD>
  <TD>8.8</TD>
  <TD>0.36</TD>
 </TR>
 <TR>
  <TD>Nether Wart</TD>
  <TD>NETHER_STALK</TD>
  <TD>1.0</TD>
  <TD>0.22</TD>
 </TR>
 <TR>
  <TD>Gunpowder</TD>
  <TD>SULPHUR</TD>
  <TD>4.5</TD>
  <TD>0.33</TD>
 </TR>
 <TR>
  <TD>Fine Sapphire Gemstone</TD>
  <TD>FINE_SAPPHIRE_GEM</TD>
  <TD>4,957.1</TD>
  <TD>0.08</TD>
 </TR>
 <TR>
  <TD>Dark Bait</TD>
  <TD>DARK_BAIT</TD>
  <TD>186.8</TD>
  <TD>0.2</TD>
 </TR>
 <TR>
  <TD>Enchanted Carrot</TD>
  <TD>ENCHANTED_CARROT</TD>
  <TD>15.6</TD>
  <TD>0.07</TD>
 </TR>
 <TR>
  <TD>Enchanted Pumpkin</TD>
  <TD>ENCHANTED_PUMPKIN</TD>
  <TD>103.1</TD>
  <TD>0.13</TD>
 </TR>
 <TR>
  <TD>Griffin Feather</TD>
  <TD>GRIFFIN_FEATHER</TD>
  <TD>1,347.6</TD>
  <TD>0.03</TD>
 </TR>
 <TR>
  <TD>Rotten Flesh</TD>
  <TD>ROTTEN_FLESH</TD>
  <TD>2.0</TD>
  <TD>0.21</TD>
 </TR>
 <TR>
  <TD>Enchanted Cooked Fish</TD>
  <TD>ENCHANTED_COOKED_FISH</TD>
  <TD>57,857.4</TD>
  <TD>0.13</TD>
 </TR>
 <TR>
  <TD>Obsidian</TD>
  <TD>OBSIDIAN</TD>
  <TD>1.8</TD>
  <TD>0.08</TD>
 </TR>
 <TR>
  <TD>Soulflow</TD>
  <TD>SOULFLOW</TD>
  <TD>3,235.5</TD>
  <TD>0.07</TD>
 </TR>
 <TR>
  <TD>Minnow Bait</TD>
  <TD>MINNOW_BAIT</TD>
  <TD>13.8</TD>
  <TD>0.75</TD>
 </TR>
 <TR>
  <TD>Enchanted Magma Cream</TD>
  <TD>ENCHANTED_MAGMA_CREAM</TD>
  <TD>31.6</TD>
  <TD>0.02</TD>
 </TR>
 <TR>
  <TD>Enchanted Firework Rocket</TD>
  <TD>ENCHANTED_FIREWORK_ROCKET</TD>
  <TD>14,354.1</TD>
  <TD>0.13</TD>
 </TR>
 <TR>
  <TD>Starfall</TD>
  <TD>STARFALL</TD>
  <TD>119.8</TD>
  <TD>0.19</TD>
 </TR>
 <TR>
  <TD>Flawed Topaz Gemstone</TD>
  <TD>FLAWED_TOPAZ_GEM</TD>
  <TD>50.2</TD>
  <TD>0.06</TD>
 </TR>
 <TR>
  <TD>Hard Stone</TD>
  <TD>HARD_STONE</TD>
  <TD>1.7</TD>
  <TD>0.29</TD>
 </TR>
 <TR>
  <TD>Flawless Jade Gemstone</TD>
  <TD>FLAWLESS_JADE_GEM</TD>
  <TD>580,560.8</TD>
  <TD>0.13</TD>
 </TR>
 <TR>
  <TD>Leather</TD>
  <TD>LEATHER</TD>
  <TD>6.3</TD>
  <TD>0.25</TD>
 </TR>
 <TR>
  <TD>Enchanted Cooked Mutton</TD>
  <TD>ENCHANTED_COOKED_MUTTON</TD>
  <TD>29,899.0</TD>
  <TD>0.19</TD>
 </TR>
 <TR>
  <TD>Fine Amethyst Gemstone</TD>
  <TD>FINE_AMETHYST_GEM</TD>
  <TD>5,642.3</TD>
  <TD>0.09</TD>
 </TR>
 <TR>
  <TD>Refined Titanium</TD>
  <TD>REFINED_TITANIUM</TD>
  <TD>11,687.1</TD>
  <TD>0.03</TD>
 </TR>
 <TR>
  <TD>Enchanted Raw Rabbit</TD>
  <TD>ENCHANTED_RABBIT</TD>
  <TD>17.4</TD>
  <TD>0.03</TD>
 </TR>
 <TR>
  <TD>Mutant Nether Wart</TD>
  <TD>MUTANT_NETHER_STALK</TD>
  <TD>736.5</TD>
  <TD>0.01</TD>
 </TR>
 <TR>
  <TD>Enchanted Bread</TD>
  <TD>ENCHANTED_BREAD</TD>
  <TD>8.8</TD>
  <TD>0.15</TD>
 </TR>
 <TR>
  <TD>Fuming Potato Book</TD>
  <TD>FUMING_POTATO_BOOK</TD>
  <TD>37,962.7</TD>
  <TD>0.04</TD>
 </TR>
 <TR>
  <TD>Fine Jasper Gemstone</TD>
  <TD>FINE_JASPER_GEM</TD>
  <TD>9,849.1</TD>
  <TD>0.11</TD>
 </TR>
 <TR>
  <TD>Flawed Sapphire Gemstone</TD>
  <TD>FLAWED_SAPPHIRE_GEM</TD>
  <TD>87.4</TD>
  <TD>0.13</TD>
 </TR>
 <TR>
  <TD>Flawless Amber Gemstone</TD>
  <TD>FLAWLESS_AMBER_GEM</TD>
  <TD>563,620.2</TD>
  <TD>0.09</TD>
 </TR>
 <TR>
  <TD>Enchanted Charcoal</TD>
  <TD>ENCHANTED_CHARCOAL</TD>
  <TD>473.8</TD>
  <TD>0.27</TD>
 </TR>
 <TR>
  <TD>Enchanted Blaze Powder</TD>
  <TD>ENCHANTED_BLAZE_POWDER</TD>
  <TD>198.5</TD>
  <TD>0.08</TD>
 </TR>
 <TR>
  <TD>Summoning Eye</TD>
  <TD>SUMMONING_EYE</TD>
  <TD>10,550.0</TD>
  <TD>0.01</TD>
 </TR>
 <TR>
  <TD>Perfect Sapphire Gemstone</TD>
  <TD>PERFECT_SAPPHIRE_GEM</TD>
  <TD>8,000,000</TD>
  <TD>0.23</TD>
 </TR>
 <TR>
  <TD>Fish Bait</TD>
  <TD>FISH_BAIT</TD>
  <TD>25.8</TD>
  <TD>0.27</TD>
 </TR>
 <TR>
  <TD>Snow Block</TD>
  <TD>SNOW_BLOCK</TD>
  <TD>3.3</TD>
  <TD>0.52</TD>
 </TR>
 <TR>
  <TD>Enchanted Baked Potato</TD>
  <TD>ENCHANTED_BAKED_POTATO</TD>
  <TD>1,520.6</TD>
  <TD>0.05</TD>
 </TR>
 <TR>
  <TD>Compactor</TD>
  <TD>COMPACTOR</TD>
  <TD>1,304.9</TD>
  <TD>0.15</TD>
 </TR>
 <TR>
  <TD>Enchanted Diamond</TD>
  <TD>ENCHANTED_DIAMOND</TD>
  <TD>3.0</TD>
  <TD>0.0</TD>
 </TR>
</tbody>
</TABLE>